#geneaSchedule .editor.Scheduler .week-panel {
    background: #1e2024 !important;
    /*font: bold italic 12.0pt 'Inter SemiBold' !important;*/
    font-family:'Inter SemiBold' !important;
}

#geneaSchedule .ux-tab-inner-content {
    background-color: #162ee0;
}

#geneaSchedule .ux-tab-bar .ux-btn.ux-toggled {
    background: #1e2024;!important;
}

#geneaSchedule .ux-toggle-btn-group > button {
    background-color: #434447;!important;
}

#geneaSchedule .ux-fullscreen-support .ux-fullscreen > .ux-fixed-header {
    background: #1e2024;!important;
}

#geneaSchedule .WeekEditor {
  font-size: 1em;
}

#geneaSchedule .ux-root > .bajaux-widget-container > .bajaux-widget {
    background: #1e2024;!important;
}

#geneaSchedule .WeekEditor .scheduleLabels > .scheduleLabel > label {
     position: absolute;
     white-space: nowrap;
     color: #818181;
     right: 0.1em;
     bottom: -0.5em;
 }



#geneaSchedule .Scheduler .ux-tab-panel-container > * {
    background: #ec8c0c;!important;
}

#geneaSchedule .SpecialEventsEditor .calendarEventsList {
    background: #1349c2;!important;
}

#geneaSchedule .editor.TableWidget.fixedHeaders {
    background: #a204ad;!important;
}

#geneaSchedule .editor.TableWidget.fixedHeaders .tableContainer {
    background-color: #fc133d;!important;
}

/*.ux-table .ux-table-head th, .ux-table .ux-table-head .ux-table-head-cell {
    background-color: #c92e2e;
    color: #e6dbdb;
}*/

#geneaSchedule .icon-icons-x16-gear:before {
    display: inline-block;
    vertical-align: text-top;
    content: '';
    background: url('/module/icons/sprite/sprite.png?ts=1592844973552') -54px -346px;
    width: 16px;
    height: 16px;
}

#geneaSchedule .ActiveDatesCalendar .pika-lendar .pika-label {
    background: aqua;!important;
}

#geneaSchedule .pika-lendar .pika-row .pika-button {
    background: #8f0d0d;!important;
}

#geneaSchedule .pika-single {
    background: #1349c2;!important;
}

/*
.ux-shadow {
    background: chocolate;
}

.ux-fg {
    background-color: chocolate;
}

.ux-btn {
    background-color: #c91010;
}*/
